cpo-core/src/main/xsd/CpoCoreConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.synchronoss.org/cpo/core/CpoCoreConfig.xsd"
    targetNamespace="http://www.synchronoss.org/cpo/core/CpoCoreConfig.xsd"
    elementFormDefault="qualified">
    
    <xs:element name="cpoConfig" type="ctCpoConfig"/>
    
    <xs:complexType name="ctCpoConfig">
        <xs:sequence>
            <xs:element name="metaConfig" type="ctMetaDescriptor" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="dataConfig" type="ctDataSourceConfig" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="defaultConfig" type="xs:string">
            <xs:annotation>
                <xs:documentation>Specifies the name of the default configuration. If the default config does not exist, the first config in the file will be used.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="ctDataSourceConfig" abstract="true">
        <xs:sequence>
            <xs:element name="metaDescriptorName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The Descriptor for the metadata to load up for the class</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cpoConfigProcessor" type="xs:string">
                <xs:annotation>
                    <xs:documentation>This is the classname of a class that implements CpoConfigProcessor (ie, JdbcConfigProcessor, or CassandraConfigProcessor). The actual classname will be provided in the .xsd that defines the concrete config.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>This is the context name to be used when requesting a CpoAdapter. The context name will be used to look up this config info and create the appropriate CpoAdapter</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="batchSize" type="xs:integer" default="100">
            <xs:annotation>
                <xs:documentation>The batchSize that cpo will use when sending data to the datasource</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="fetchSize" type="xs:integer" default="100">
            <xs:annotation>
                <xs:documentation>The fetchsize that the Streams will use when fetching data from the datasource. The datasource may require additional configuration to not fetch all the data at once.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="ctMetaDescriptor">
        <xs:sequence>
            <xs:element name="metaXml" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A list containing resource or filenames that contain meta information. If this descriptor was already defined in a previous config, then only the name needs to be supplied so that is can find the previously loaded files.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>This is the descriptor name that will be used to identify this metadata from within CPO. Only one meta descriptor can have this name. Last in wins.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="caseSensitive" type="xs:boolean" use="optional" default="true">
            <xs:annotation>
                <xs:documentation>This tells CPO whether to treat dataNames as caseSensitive or to ignore case. Default is caseSensitive=true</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
        
</xs:schema>