cpo-core/src/main/xsd/CpoJdbcConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:cpo="http://www.synchronoss.org/cpo/core/CpoCoreConfig.xsd"
    xmlns="http://www.synchronoss.org/cpo/jdbc/CpoJdbcConfig.xsd"
    targetNamespace="http://www.synchronoss.org/cpo/jdbc/CpoJdbcConfig.xsd"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.synchronoss.org/cpo/core/CpoCoreConfig.xsd" schemaLocation="CpoCoreConfig.xsd"/>

    <xs:complexType name="ctJdbcConfig">
        <xs:complexContent>
            <xs:extension base="cpo:ctDataSourceConfig">
                <xs:choice>
                    <xs:element name="readWriteConfig" type="ctJdbcReadWriteConfig"/>
                    <xs:sequence>
                        <xs:element name="readConfig" type="ctJdbcReadWriteConfig"/>
                        <xs:element name="writeConfig" type="ctJdbcReadWriteConfig"/>
                    </xs:sequence>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ctJdbcReadWriteConfig">
        <xs:choice>
            <xs:element name="jndiName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The jndi name of the datasource to use to connect to the target database</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:sequence>
                <xs:choice>
                    <xs:element name="dataSourceClassName" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The classname for the DataSource provided by the database vendor.
                                Use a ConnectionPoolDataSource class if available or a DataSource class if not use a DataSource class.
                                ie: com.mysql.jdbc.jdbc2.optional.MysqlConnectionPoolDataSource
                                oracle.jdbc.pool.OracleConnectionPoolDataSource
                                org.hsqldb.jdbc.JDBCDataSource
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="driverClassName" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Deprecated. Use dataSourceClassName. The classname for the jdbc driver provided by the database vendor.
                                ie: oracle.jdbc.driver.OracleDriver
                                com.mysql.jdbc.Driver
                                org.hsqldb.jdbcDriver
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:element name="url" type="xs:string" minOccurs="1">
                    <xs:annotation>
                        <xs:documentation>This is the url to the jdbc database.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:choice minOccurs="0">
                    <xs:sequence>
                        <xs:element name="user" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>This is the user to log into the data source. If the user is supplied in the url, this element should not be included.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="password" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>This is the password to log into the data source. If the password is supplied in the url, this element should not be included.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:element name="property" type="ctProperty" maxOccurs="unbounded"/>
                </xs:choice>
            </xs:sequence>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="ctProperty">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>