cpo-core/src/main/xsd/CpoUtilConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.synchronoss.org/cpo/util/CpoUtilConfig.xsd"
  xmlns:core="http://www.synchronoss.org/cpo/core/CpoCoreConfig.xsd"
  targetNamespace="http://www.synchronoss.org/cpo/util/CpoUtilConfig.xsd"
  elementFormDefault="qualified">

  <xs:import namespace="http://www.synchronoss.org/cpo/core/CpoCoreConfig.xsd" schemaLocation="CpoCoreConfig.xsd"/>

  <xs:element name="cpoUtilConfig" type="ctCpoUtilConfig" />

  <xs:complexType name="ctCpoUtilConfig">
    <xs:sequence>
      <xs:element name="customClasspath" type="ctCustomClasspath" minOccurs="0" maxOccurs="1" />
      <xs:element name="protectedClasses" type="ctProtectedClasses" minOccurs="0" maxOccurs="1" />
      <xs:element name="dataConfigs" type="ctDataConfig" minOccurs="0" maxOccurs="1"/>  
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ctCustomClasspath">
    <xs:sequence>
      <xs:element name="classpathEntry" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ctProtectedClasses">
    <xs:sequence>
      <xs:element name="protectedClass" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ctDataConfig">
    <xs:sequence>
      <xs:element name="dataConfig" type="core:ctDataSourceConfig" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
