cpo-core/src/main/xsd/CpoUtilConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2003-2025 David E. Berry

    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 2.1 of the License, or (at your option) any later version.

    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this library; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

    A copy of the GNU Lesser General Public License may also be found at
    http://www.gnu.org/licenses/lgpl.txt

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns="http://www.synchronoss.org/cpo/util/CpoUtilConfig.xsd"
  xmlns:core="http://www.synchronoss.org/cpo/core/CpoCoreConfig.xsd"
  targetNamespace="http://www.synchronoss.org/cpo/util/CpoUtilConfig.xsd"
  elementFormDefault="qualified">

  <xs:import namespace="http://www.synchronoss.org/cpo/core/CpoCoreConfig.xsd" schemaLocation="CpoCoreConfig.xsd"/>

  <xs:element name="cpoUtilConfig" type="ctCpoUtilConfig" />

  <xs:complexType name="ctCpoUtilConfig">
    <xs:sequence>
      <xs:element name="customClasspath" type="ctCustomClasspath" minOccurs="0" maxOccurs="1" />
      <xs:element name="protectedClasses" type="ctProtectedClasses" minOccurs="0" maxOccurs="1" />
      <xs:element name="dataConfigs" type="ctDataConfig" minOccurs="0" maxOccurs="1"/>  
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ctCustomClasspath">
    <xs:sequence>
      <xs:element name="classpathEntry" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ctProtectedClasses">
    <xs:sequence>
      <xs:element name="protectedClass" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ctDataConfig">
    <xs:sequence>
      <xs:element name="dataConfig" type="core:ctDataSourceConfig" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
