cpo-cassandra/src/main/xsd/CpoCassandraConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2003-2012 David E. Berry

    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 2.1 of the License, or (at your option) any later version.

    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this library; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

    A copy of the GNU Lesser General Public License may also be found at
    http://www.gnu.org/licenses/lgpl.txt

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cpo="http://www.synchronoss.org/cpo/core/CpoCoreConfig.xsd"
           xmlns="http://www.synchronoss.org/cpo/cassandra/CpoCassandraConfig.xsd"
           targetNamespace="http://www.synchronoss.org/cpo/cassandra/CpoCassandraConfig.xsd"
           elementFormDefault="qualified">

  <xs:import namespace="http://www.synchronoss.org/cpo/core/CpoCoreConfig.xsd"
             schemaLocation="../../../../cpo-core/src/main/xsd/CpoCoreConfig.xsd"/>

  <xs:complexType name="ctCassandraConfig">
    <xs:complexContent>
      <xs:extension base="cpo:ctDataSourceConfig">
        <xs:choice>
          <xs:element name="readWriteConfig" type="ctCassandraReadWriteConfig"/>
          <xs:sequence>
            <xs:element name="readConfig" type="ctCassandraReadWriteConfig"/>
            <xs:element name="writeConfig" type="ctCassandraReadWriteConfig"/>
          </xs:sequence>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ctCassandraReadWriteConfig">
    <xs:sequence>
      <xs:element name="contactPoint" type="xs:string" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Adds a contact point aka the address of the node to connect to. Contact points are addresses of Cassandra nodes that the driver uses to discover the cluster topology.
            Only one contact point is required (the driver will retrieve the address of the other nodes automatically),
            but it is usually a good idea to provide more than one contact point, because if that single contact point is unavailable,
            the driver cannot initialize itself correctly.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="clusterName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An optional name for the create cluster.
            Note: this is not related to the Cassandra cluster name (though you are free to provide the same name). See Cluster.getClusterName() for details.
            If you use this method and create more than one Cluster instance in the same JVM (which should be avoided unless you need to connect to multiple Cassandra clusters),
            you should make sure each Cluster instance get a unique name or you may have a problem with JMX reporting.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="port" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The port to use to connect to the Cassandra host. If not set through this method, the default port (9042) will be used instead.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="loadBalancingPolicy" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Configures the load balancing policy to use for the new cluster.
            Add in the fully qualified class name for a LoadBalancingPolicyFactory
            If no load balancing policy is set through this method, Policies.defaultLoadBalancingPolicy() will be used instead.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reconnectionPolicy" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Configures the reconnection policy to use for the new cluster.
            Add in the fully qualified class name for a ReconnectionPolicyFactory
            If no reconnection policy is set through this method, Policies.DEFAULT_RECONNECTION_POLICY will be used instead.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="retryPolicy" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Configures the retry policy to use for the new cluster.
            Add in the fully qualified class name for a RetryPolicyFactory
            If no retry policy is set through this method, Policies.DEFAULT_RETRY_POLICY will be used instead.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="credentials" type="ctCredentials" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Uses the provided credentials when connecting to Cassandra hosts.
              This should be used if the Cassandra cluster has been configured to use the PasswordAuthenticator.
              If the the default AllowAllAuthenticator is used instead, using this method has no effect.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="authProvider" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Use the specified AuthProvider when connecting to Cassandra hosts.
              Add in the fully qualified class name for a AuthProviderFactory
              Use this method when a custom authentication scheme is in place. You shouldn't call both this method and withCredentials
              on the same Builder instance as one will supercede the other
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="compression" type="stCompression" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Sets the compression to use for the transport.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="metrics" type="xs:boolean" default="true" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Disables metrics collection for the created cluster (metrics are enabled by default otherwise).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sslOptions" type="xs:string" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Enables the use of SSL for the created Cluster. The string is either nil which uses the default ssl or the full class path of a SSLOptionsFactory.
            Calling this method will use default SSL options (see SSLOptions.SSLOptions()). This is thus a shortcut for withSSL(new SSLOptions()).
            Note that if SSL is enabled, the driver will not connect to any Cassandra nodes that doesn't have SSL enabled and it is strongly advised to
            enable SSL on every Cassandra node if you plan on using SSL in the driver.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="initialListeners" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Register the provided listeners in the newly created cluster.
            Add in the fully qualified class name for a ListenerFactory
            Note: repeated calls to this method will override the previous ones.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="jmxReporting" type="xs:boolean" default="true" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Disables JMX reporting of the metrics.
            JMX reporting is enabled by default (see Metrics) but can be disabled using this option. If metrics are disabled, this is a no-op.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="poolingOptions" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Sets the PoolingOptions to use for the newly created Cluster.
            The string is full class path of a PoolingOptionsFactory.
            If no pooling options are set through this method, default pooling options will be used.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="socketOptions" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Sets the SocketOptions to use for the newly created Cluster.
            The string is full class path of a SocketOptionsFactory.
            If no socket options are set through this method, default socket options will be used.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="queryOptions" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Sets the QueryOptions to use for the newly created Cluster.
            The string is full class path of a QueryOptionsFactory.
            If no query options are set through this method, default query options will be used.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ctCredentials">
    <xs:sequence>
      <xs:element name="user" type="xs:string">
          <xs:annotation>
              <xs:documentation>This is the user to log into the data source. If the user is supplied in the url, this element should not be included.</xs:documentation>
          </xs:annotation>
      </xs:element>
      <xs:element name="password" type="xs:string">
          <xs:annotation>
              <xs:documentation>This is the password to log into the data source. If the password is supplied in the url, this element should not be included.</xs:documentation>
          </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="stCompression">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LZ4"/>
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="SNAPPY"/>
    </xs:restriction>
  </xs:simpleType>


</xs:schema>