cpo-cassandra/src/main/xsd/CpoCassandraMeta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2003-2025 David E. Berry

    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 2.1 of the License, or (at your option) any later version.

    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this library; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

    A copy of the GNU Lesser General Public License may also be found at
    http://www.gnu.org/licenses/lgpl.txt

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:cpo="http://www.synchronoss.org/cpo/core/CpoCoreMeta.xsd"
    xmlns="http://www.synchronoss.org/cpo/cassandra/CpoCassandraMeta.xsd"
    targetNamespace="http://www.synchronoss.org/cpo/cassandra/CpoCassandraMeta.xsd"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.synchronoss.org/cpo/core/CpoCoreMeta.xsd" schemaLocation="../../../../cpo-core/src/main/xsd/CpoCoreMeta.xsd"/>

    <xs:complexType name="ctCassandraAttribute" >
        <xs:complexContent>
            <xs:extension base="cpo:ctAttribute">
                <xs:sequence>
                    <xs:element name="keyType" type="xs:string" minOccurs="0"/>
                    <xs:element name="valueType" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ctCassandraArgument">
        <xs:complexContent>
            <xs:extension base="cpo:ctArgument">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>